#root{
    background-color: #EEE;
}

#header{
    background-color: rgb(0, 225, 255);
    color: white;
    text-align: center;
}
#container{
    background-color: rgb(71, 227, 255);
    width: 80%;
    margin-left: auto;
    margin-right:auto;

}
#content{
    background-color: rgb(209, 209, 209);
    margin: auto;
}

#quote{
    width: 35%;
    float:left;
    text-align: center;
    background-color: rgb(197, 197, 197);
    padding: 1%;
}
#explanation{
    width: 60%;
    float: left;
    text-align: center;
    padding: 1%;
}
#progress{
    clear:both;
    float:right;
}
#debug{
    clear:both;
}
#senario{
    background-color: rgb(204, 204, 204);
    padding: .25%;
    text-align: center
}

.card {
    /* Add shadows to create the "card" effect */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: calc(100% / 2.5);  
    display: inline-block;
    vertical-align: top;   
    text-align:center;
    margin:2%;    
    padding:20px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    height: 100%;
    background-color:rgb(244, 123, 255);
    color: white;
    clear: both;
  }
  
  /* On mouse-over, add a deeper shadow */
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .container {
      padding: 5%;
      text-align: center;
      text-align: justify;
  }


#nextCard{
    clear: both;
    align-content: right;
}

#optionsContainer {
    text-align:center;
}

#senarioText{
    padding:1%;
}



